.todo {
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 5px;
  background-color: beige;

  div {
    font-size: 0.7rem;
    line-height: 1.2;
  }
}

.title {
  font-size: 0.8rem;
  font-weight: bold;
}
