/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  // font-size: 62.5%;
  font-size: 150%;
}

body {
  // font: var(--tui-font-text-m);
  // font-family: "Roboto", sans-serif;
  // font-weight: 400;
  // font-size: 1.6rem;
  // line-height: 1.5;
  // color: #5dd4e4;
  // background-color: #292640;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}
